body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.container{
    color: white;
    background-image: url("/assets/registerback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-2-wrapper {
    background: rgba(21, 3, 33, 0.703);
    padding: 50px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

input.form-control {
    padding: 11px;
    border: 2px solid #405c7cb8;
    border-radius: 30px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

input.form-control::placeholder {
    color: white;
    opacity: 1;
}

input.form-control:focus {
    box-shadow: none !important;
    outline: 0px !important;
    background-color: transparent;
    color: white;
}

button.btn-primary {
    background: #b400ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

button.btn-secondary {
    background: #405c7c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.login-redirect {
    margin-top: 20px;
}
.form-row {
    display: flex; /* Switch to flex layout for the row */
    gap: 15px; /* Adds spacing between columns */
}

.form-group.col {
    flex: 1; /* Makes each column take equal space in the row */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adds spacing between labels and input fields */
}
.form-submit {
    display: flex;
    justify-content: center; /* Center horizontally */
}