<div class="transaction-container">
  <h2>Transactions</h2>
  <table>
    <thead>
      <tr>
        <th>Transaction Date</th>
        <th>Amount</th>
        <th>Merchant</th>
        <th>Category</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.TransactionDate | date }}</td>
        <td>{{ transaction.Amount }}</td>
        <td>{{ transaction.Merchant }}</td>
        <td>{{ transaction.Category }}</td>
        <td>{{ transaction.Status }}</td>
      </tr>
    </tbody>
  </table>
</div>
