<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="Email" [(ngModel)]="loginRequest.Email" name="Email" required>
            </div>
            </div><div class="form-row">
            <div class="form-group col-md-6">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" id="Password" [(ngModel)]="loginRequest.Password" name="Password" required>
            </div>
        </div>
        <br>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary">Login</button>
            <p>Don't have an account?</p>
            <button type="ghost" class="btn btn-secondary" (click)="navigateToRegister()">Register</button>
        </div>
    </form>
</div>
